/* Custom Properties */

:root {
    --main-color: #52be80;
    --main-modal-color: rgb(82, 190, 128);
    --second-color: #f9efed;
    --second-modal-color: rgb(249, 239, 237);
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

*,
*:after,
*:before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 2rem auto;
    overflow-x: hidden;
    max-width: 800px;
}

a {
    font-weight: bold;
    color: var(--second-color);
    transition: all .3s ease-out;
}

a:hover {
    color: var(--second-modal-color);
}

p {
    padding: 1rem;
    font-size: 1.25rem;
}

::selection {
    background-color: var(--second-color);
    color: var(--main-color);
}

.Header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Header h1 {
    word-wrap: break-word;
}

.Header img {
    margin: 0 auto;
    display: block;
    max-width: 75%;
    border-radius: 8px;
}

.imagen {
    width: 100%;
}

.Header nav {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
}

.Main {
    position: relative;
    margin: 0 auto;
    padding-bottom: 56.25%;
    /* 16:9 */
}

.Main iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.primary {
    color: #fff;
    background-color: #046836;
    border-color: #046836;
    display: block;
    width: 80%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    margin: auto;
}

a {
    text-decoration: none;
}